<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="layouts/defaultLayout">	  
<head>
  <title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">

	<div class="container">
      <div class="jumbotron">
        <h1>XXXXX</h1>
        <p class="lead">全新JAVA智能开发平台.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">进入</a></p>
      </div>	
	</div>
		
	</div>
</body>
</html>