<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh-cmn-Hans">
<title>pagination</title>
</head>
<body>

	<div th:fragment="page">
		<ul id="page-toolbar" class="pagination"></ul>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			
			$('#page-toolbar').twbsPagination({
		        first: '&laquo;',
		        prev: '&lsaquo;',
		        next: '&rsaquo;',
		        last: '&raquo;',				
				totalPages : [[${page.totalPages}]],
				visiblePages : 10,
				onPageClick: function (event, page){
					//$('#page-search').serialize();
				},
				//href:false
				href : '?page={{number}}&'+$('.search-form').serialize()
			});
			/*]]>*/
		</script>
	</div>


</body>
</html>