<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="page">
	
    <ul class="pagination">
      <li th:class="${page.firstPage}? 'disabled' : '' ">
        <span th:if="${page.firstPage}">&laquo;</span>
        <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">&laquo;</a>
      </li>
      <li th:class="${page.hasPreviousPage}? '' : 'disabled' ">
        <span th:if="${not page.hasPreviousPage}">&lsaquo;</span>
        <a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-1},size=${page.size})}" title="上一页">&lsaquo;</a>
      </li>
      <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : '' ">
        <span th:if="${item.current}" th:text="${item.number+1}">1</span>
        <a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number},size=${page.size})}"><span th:text="${item.number+1}">1</span></a>
      </li>
      <li th:class="${page.hasNextPage}? '' : 'disabled' ">
        <span th:if="${not page.hasNextPage}">&rsaquo;</span>
        <a th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number+1},size=${page.size})}" title="下一页">&rsaquo;</a>
      </li>
      <li th:class="${page.lastPage}? 'disabled' : '' ">
        <span th:if="${page.lastPage}">&raquo;</span>
        <a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages-1},size=${page.size})}">&raquo;</a>
      </li>
    </ul>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			//查询翻页带参			
			$(".pagination li a").click(function(){
				$(this).attr("href",$(this).attr("href") + "&"+$(".search-form").serialize());
			});
			

			/**
			*  全选
			*
			*  <th><button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button></th>
			*
			*  <td><input type="checkbox"/></td>
			**/
						
		    $(".checkbox-toggle").click(function () {
		        var clicks = $(this).data('clicks');
		        if (clicks) {
		          //Uncheck all checkboxes
		          $(".table input[type='checkbox']").iCheck("uncheck");
		          $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
		        } else {
		          //Check all checkboxes
		          $(".table input[type='checkbox']").iCheck("check");
		          $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
		        }
		        $(this).data("clicks", !clicks);
		      });			
			
			/*]]>*/
		</script>
</div>


</html>