<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="layouts/defaultLayout">	

<div class="row" layout:fragment="content">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<form class="form-inline search-form"  th:action="@{/resources}" >
					<div class="">
						<div class="form-group">
							<label for="resourceName">资源名称</label> 
							<input type="text" class="form-control" name="resourceName" th:value="${searchTerm['resourceName']}" placeholder="资源名称" />
						</div>
						<div class="checkbox">
							<label> 
								<input type="checkbox" name="enabled" th:checked="${searchTerm['enabled']}" th:value="${searchTerm['enabled']}" /> 是否可用
							</label>
						</div>
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i>查询</button>					
					</div>					
				</form>
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
				<div class="mailbox-controls">
					<!-- Check all button -->
					<a class="btn btn-default btn-sm checkbox-toggle" title="全选">
						<i class="fa fa-square-o"></i>
					</a>
					<div class="btn-group">
						<a class="btn btn-default btn-sm" title="删除" 
							data-toggle="modal" data-target="#delete_modal" data-url="/resource/delete">
							<i class="fa fa-trash-o"></i>
						</a>
						<a th:href="${'/resource/new'}" class="btn btn-default btn-sm" title="添加">
							<i class="fa fa-plus"></i>
						</a>
					</div>
					<!-- /.btn-group -->
					<a class="btn btn-default btn-sm" title="刷新" onclick="javascript:window.location.reload();">
						<i class="fa fa-refresh"></i>
					</a>

					<div class="pull-right">
						<!--/*/ <th:block th:replace="fragments/pagination_tr :: page"></th:block> /*/-->
					</div>
				</div>


				<table class="table table-hover table-bordered table-striped">
					<thead>
						<tr>
							<th style="width: 10px"></th>
							<th>资源名称</th>
							<th>资源描述</th>
							<th>资源路径</th>
							<th>优先级</th>
							<th>是否可用</th>
							<th style="width: 80px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="resource : ${page.content}" th:if="${not #lists.isEmpty(page.content)}">
							<td><input type="checkbox" th:value="${resource.resourceId}"/></td>
							<td th:text="${resource.resourceName}">resourceName</td>
							<td th:text="${resource.resourceDesc}">resourceDesc</td>
							<td th:text="${resource.resourcePath}">resourcePath</td>
							<td th:text="${resource.priority}">priority</td>
							<td>
								<i th:class="${resource.enabled} ? 'fa fa-check-circle':'fa fa-times-circle' "></i>
							</td>
							<td>
								<a th:href="${'/resource/' + resource.resourceId}"><i class="fa fa-sign-in fa-fw"></i></a> 
								<a th:href="${'/resource/edit/' + resource.resourceId}"><i class="fa fa-pencil-square-o fa-fw"></i></a> 
								<a th:href="${'/resource/delete/' + resource.resourceId}"><i class="fa fa-trash-o fa-fw"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--pagination-->
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!--/*/ <th:block th:replace="fragments/windows :: modal"></th:block> /*/-->
			           
</div>
</html>