<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >


<div layout:fragment="modal" th:remove="tag">
	<!-- modal -->
	<div th:id="${id}" class="modal fade" th:classappend="'modal-' + ${type}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" th:text="${header}">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p th:text="${body}">Modal Body</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
					<th:block layout:fragment="modal-botton">
						<button type="button" class="btn btn-outline">确定</button>
					</th:block>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.delete modal -->
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
	    $(document).ready(function() {
			//全选
		    $(".checkbox-toggle").click(function () {
		        var clicks = $(this).data('clicks');
		        if (clicks) {
		          //Uncheck all checkboxes
		          $(".table input[type='checkbox']").iCheck("uncheck");
		          $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
		        } else {
		          //Check all checkboxes
		          $(".table input[type='checkbox']").iCheck("check");
		          $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
		        }
		        $(this).data("clicks", !clicks);
		    });
	        
	    });
		/*]]>*/
	</script>


</div>

</html>