<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row" th:fragment="content">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<form class="form-inline search-form" action="#" th:action="@{/users}">
					<div class="">
						<div class="form-group">
							<label for="username">账号</label> 
							<input type="text" class="form-control" name="username" th:value="${username}" placeholder="账号" />
						</div>
						<div class="form-group">
							<label for="name">姓名</label> 
							<input type="text" class="form-control" name="name" th:value="${name}" placeholder="姓名" />
						</div>
						<div class="checkbox">
							<label> 
								<input type="checkbox" name="enabled" th:checked="${enabled}"/> 是否可用
							</label>
						</div>
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i>查询</button>					
					</div>					
				</form>
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
				<div class="mailbox-controls">
					<!-- Check all button -->
					<a class="btn btn-default btn-sm checkbox-toggle" title="全选">
						<i class="fa fa-square-o"></i>
					</a>
					<div class="btn-group">
						<a class="btn btn-default btn-sm" title="删除" 
							data-toggle="modal" data-target="#delete_modal" data-url="/user/delete">
							<i class="fa fa-trash-o"></i>
						</a>
						<a th:href="${'/user/new'}" class="btn btn-default btn-sm" title="添加">
							<i class="fa fa-plus"></i>
						</a>
					</div>
					<!-- /.btn-group -->
					<a class="btn btn-default btn-sm" title="刷新" onclick="javascript:window.location.reload();">
						<i class="fa fa-refresh"></i>
					</a>

					<div class="pull-right">
						<!--/*/ <th:block th:include="pagination_tr::page"></th:block> /*/-->
					</div>
				</div>


				<table class="table table-hover table-bordered table-striped">
					<thead>
						<tr>
							<th style="width: 10px"></th>
							<th>账号</th>
							<th>姓名</th>
							<th>是否可用</th>
							<th>是否过期</th>
							<th>是否锁定</th>
							<th>证书有效</th>
							<th style="width: 80px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${page.content}"
							th:if="${not #lists.isEmpty(page.content)}">
							<td><input type="checkbox" th:value="${user.userId}"/></td>
							<td th:text="${user.username}">username</td>
							<td th:text="${user.name}">name</td>
							<td><i th:class="${user.enabled} ? 'fa fa-plus-circle':'fa fa-minus-circle' "></i>
							</td>
							<td><i th:class="${user.accountNonExpired} ? 'fa fa-plus-circle':'fa fa-minus-circle' "></i>
							</td>
							<td><i th:class="${user.accountNonLocked} ? 'fa fa-plus-circle':'fa fa-minus-circle' "></i>
							</td>
							<td><i th:class="${user.credentialsNonExpired} ? 'fa fa-plus-circle':'fa fa-minus-circle' "></i>
							</td>
							<td>
								<a th:href="${'/user/'+user.userId}"><i class="fa fa-sign-in fa-fw"></i></a> 
								<a th:href="${'/user/edit/' + user.userId}"><i class="fa fa-pencil-square-o fa-fw"></i></a> 
								<a th:href="${'/user/delete/' + user.userId}"><i class="fa fa-trash-o fa-fw"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--pagination-->
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!--/*/ <th:block th:include="windows::modal"></th:block> /*/-->
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		           
	           
		 

		           
		/*]]>*/
	</script>	
			           
</div>
</html>