<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row" th:fragment="content">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<form class="form-inline search-form" action="#" th:action="@{/users}">
					<div class="form-group">
						<label for="username">账号</label> 
						<input type="text" class="form-control" name="username" th:value="${username}" placeholder="账号" />
					</div>
					<div class="form-group">
						<label for="name">姓名</label> 
						<input type="text" class="form-control" name="name" th:value="${name}" placeholder="姓名" />
					</div>
					<div class="checkbox">
						<label> 
							<input type="checkbox" name="enabled" th:checked="${enabled}"/> 是否可用
						</label>
					</div>
					<button type="submit" class="btn btn-default">查询</button>
				</form>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th> 
								<button type="button" class="btn btn-default btn-xs checkbox-toggle"><i class="fa fa-square-o"></i></button>
							</th>
							<th>账号</th>
							<th>姓名</th>
							<th>是否可用</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${page.content}" th:if="${not #lists.isEmpty(page.content)}">
							<td><input type="checkbox"/></td>
							<td th:text="${user.username}">username</td>
							<td th:text="${user.name}">name</td>
							<td>
								<i th:class="${user.enabled} ? 'fa fa-plus-circle':'fa fa-minus-circle' "></i>
							</td>
							<td>
								<a th:href="${'/user/'+user.userId}"><i class="fa fa-lg fa-sign-in"></i></a>
								<a th:href="${'/user/edit/' + user.userId}"><i class="fa fa-lg fa-pencil-square-o"></i></a>
								<a th:href="${'/user/delete/' + user.userId}"><i class="fa fa-lg fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--/*/ <th:block th:include="pagination::page"></th:block> /*/-->
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
</html>